.form-sm{
	margin-top: 20px;
	width: 30%;
}

.form-md{
	margin-top: 20px;
	width: 60%;
}

.form-lg{
	margin-top: 20px;
	width: 80%;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.form-textarea{
    resize: none;
    min-height: 300px;
}

label{
    color: #696969;
    margin-left: 40px;
    float: left;
}

